
.the-calendar {
    margin-top: 20px;
}

.calendar-title {
    padding-bottom: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    /* color: #55c6f0; */
}

.the-sidebar {
    margin-top: 20px;
}

.sidebar-contents {
    width: 400px;
    color: #55c6f0;
}

.fc {
    /* the calendar root */
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px;
    overflow-x: none;
}

/* .fc * {
    color: red;
} */

/* .fc-toolbar-chunk {
    color: red;
} */

/* .fc-header-toolbar {
    color:red;
} */

/* .fc-toolbar {
    color: red;
} */

/* .fc-scrollgrid {
    color: red;
} */

*, ::after, ::before {
    box-sizing: border-box;
    color: #55c6f0;
}