.the-calendar {
    margin-top: 20px;
}

/* .active-cefb {
    background-color: green;
    color:#55c6f0;
}

.active-ep {
    background-color: red;
    color:#55c6f0;
}

.active-fu {
    background-color: orange;
    color:#55c6f0;
}

.active-chamber {
    background-color: purple;
    color:#55c6f0;
} */


.calendar-title {
    padding-bottom: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: #55c6f0;
}

.calendar-empty {
    padding-bottom: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
}

.the-sidebar {
    margin-top: 20px;
}

.sidebar-title {
    color: #55c6f0;
}

.fc {

    width: min(800px, inherit);
    min-height: 400px;
    margin: 0 auto;
    overflow-x: none;
}


.fc-daygrid-day-number,
.fc-col-header-cell-cushion {
    color: black;
}

.fc-header-toolbar {
    color: #55c6f0;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    color: #55c6f0;
}

@media (max-width: 730px) {
    .fc-header-toolbar {
        display: flex;
        flex-direction: column;
    }
}



.fc-toolbar-title {
    font-size: 1em;
}