.admin-container {
    align-content: center;
    background-color: hsla(55, 28%, 92%, 0.70);
    color: black;
    padding: 30px 10px;
    margin: 100px 0;
    font-size:22px;
    /* background-color: rgba(0,0,0,0.5); */
}

.admin-form {
    width: 300px;
    display: flex;
    flex-direction: column;
}